name: Build Kivy APK (Buildozer)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip python3-setuptools pkg-config unzip git
          sudo apt install -y libncurses5 libstdc++6 zlib1g-dev
          sudo apt install -y openjdk-17-jdk
          pip install --upgrade pip
          pip install buildozer cython virtualenv

      - name: Initialize Buildozer
        run: |
          buildozer android debug

      - name: Build Release APK
        run: |
          buildozer android release

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: AppChecker-APK
          path: bin/*.apk